<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}User POC{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body class="container">
<nav>
    <ul role="navigation">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        {% if current_user.is_authenticated -%}
            {% if current_user.has_role('editor') -%}
            <li><a href="{{ url_for('secure') }}">Secure</a></li>
            {% endif -%}
            {% if current_user.has_role('admin') -%}
            <li><a href="{{ url_for('admin.index') }}">Admin Dashboard</a></li>
            {% endif -%}
        {% endif -%}
        <li class="nav__center"></li>
        {% if current_user.is_authenticated -%}
            <li>Hi {{ current_user.email }}!</li>
            <li><a href="/logout">Logout</a></li>
        {% else -%}
            <li>Hi Guest!</li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        {% endif %}
    </ul>
</nav>
<hr>
{% block body %}{% endblock %}
</body>
</html>
