body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

nav > ul {
    display: flex;
    padding: 0;
    list-style: none;
}

nav .nav__center {
    margin-left: auto;
    margin-right: auto;
}

nav li:not(:first-child) {
    margin-left: 10px;
}